.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}


.modal-content {
    width: 50vw;
    padding: 20px;
    border-radius: 12px;
    background: aliceblue;
    transform: scale(0.5) rotate(90deg);
    transition: .5s all;
}

.modal-content.active {
    transform: scale(1) rotate(0deg);
}

