* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.open-modal_btn {
    cursor: pointer;
    width: 200px;
    height: 40px;
}

p {
    font-size: 20px;
}

.to-center {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}