.slider {
    border-radius: 20px;
    position: relative;
    width: 700px;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
}

.slider-content {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.slider img {
    width: 100%;
    display: block;
}

.slider-button {
    border-radius: 10px;
    z-index: 1000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.slider-button:hover{
   border-radius: 0;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
